.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 999;
    align-items: flex-start;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-height: 80%;
    overflow-y: auto;
    position: fixed;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    align-self: flex-end;
  }
  
  .profileInfo {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .profileImage {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .profileImage img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .profileDetails {
    order: 2;
    margin-left: 20px;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .chatButton {
    margin-top: auto;
  }